<body>
    <form (ngSubmit)="onSubmit()" #emailForm="ngForm">

  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 image-section">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/1451px-NGC_4414_%28NASA-med%29.jpg">
          </div>
          <div class="row user-left-part">
              <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                  <div class="row ">
                      <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/1451px-NGC_4414_%28NASA-med%29.jpg" class="rounded-circle">
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                          <button class="btn btn-success btn-block follow">Contact Me</button> 
                          <button class="btn btn-warning btn-block">Download Resume</button>                               
                      </div>
                      <div class="row user-detail-row">
                          <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                              <div class="border"></div>
                              <p>FOLLOWER</p>
                              <span>0</span>
                          </div>      
                          <div *ngIf="email.dirty||profession.dirty" class="alert alert-warning" role="alert">
                            You have made changes! 
                          </div>                     
                      </div>
                     
                  </div>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                  <div class="row profile-right-section-row">
                      <div class="col-md-12 profile-header">
                          <div class="row">
                              <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                  <h1>{{user.userName | titlecase}}</h1>
                                  <h5>Developer</h5>
                              </div>
                              <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                                  <button type="button" href="/history" class="btn btn-primary btn-block">History</button>
                                  <button type="submit"  [disabled]="!email.dirty"  class="btn btn-success btn-block">Save</button>

                              </div>
                              
                          </div>
                      </div>
                      <div class="col-md-1F2">
                          <div class="row">
                              <div class="col-md-8">
                                      <ul class="nav nav-tabs" role="tablist">
                                              <li class="nav-item">
                                                <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"> General Info</a>
                                              </li>
                                              <li class="nav-item">
                                                <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"> Bio</a>
                                              </li>                                                
                                            </ul>
                                            
                                            <div class="tab-content">
                                              <div role="tabpanel" class="tab-pane fade show active">
                                                      <div class="row">

                                                              <div class="col-md-2">
                                                                  <label>ID</label>
                                                              </div>
                                                              <div class="col-md-6">
                                                                  <p>{{user.id}}</p>
                                                              </div>
                                                          </div>
                                                          <div class="row">
                                                              <div class="col-md-2">
                                                                  <label>Name</label>
                                                              </div>
                                                              <div class="col-md-6">
                                                                  <p>{{user.userName | titlecase}}</p>
                                                              </div>
                                                          </div>
                                                          <div class="row">
                                                              <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                                                <div class="col-sm-6">
                                                                    <div class="container">
                                                                        <input type="text" name="email" class="form-control" id="inputEmail" email="email" [(ngModel)]="user.email" #email='ngModel'>
                                                                    </div>
                                                                </div>
                                                            
                                                             
                                                          </div>
                                                          <div class="row">
                                                            <label for="inputProfession" class="col-sm-2 col-form-label">Profession</label>
                                                                <div class="container">
                                                                        <input type="text" name="profession" class="form-control" id="inputProfession" profession="profession" [(ngModel)]="user.profession" #profession='ngModel'>
                                                                </div>
                                                          </div>


                                                  
                                              </div>
                                              <div role="tabpanel" class="tab-pane fade" >
                                                          <div class="row">
                                                              <div class="col-md-12">
                                                                  <label>Your Bio</label>
                                                                  <br/>
                                                                  <p>{{user.bio}}</p>
                                                              </div>
                                                          </div>
                                              </div>

                                              
                                </div>
                        
                              </div>
                              <div class="col-md-4 img-main-rightPart">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="row image-right-part">
                                              <div class="col-md-6 pull-left image-right-detail">
                                                  <h6>ICON</h6>
                                              </div>
                                          </div>
                                      </div>
                                      
                                      <div class="col-md-12 image-right-detail-section2">

                                        <a href="http://example.com/">
                                          <div class="col-md-12 image-right">
                                              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/1451px-NGC_4414_%28NASA-med%29.jpg">
                                          </div>
                                      </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</form>

</body>
