<div *ngIf="!loggedIn()">
<body class="text-center">
<form [formGroup]="loginForm"  class="form-signin" action="dashboard.html"  method="post" (ngSubmit)="login()">
	<img class="mb-4"  src="assets/img/soda.svg" alt="" width="72" height="72">
	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	<!--notify bad login-->
	<!-- <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p> -->
	<div class="form-group">
		<input type="text" 
		[ngClass]="{'is-invalid': loginForm.get('username').errors && loginForm.get('username').touched}" 
		formControlName="username" class="form-control" placeholder="Username"   autofocus="">
		<div class="invalid-feedback"> A username is required!</div>
	</div>
	<div class="form-group">
		<input type="password"
		[ngClass]="{'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched}" 
		 formControlName="password" class="form-control" placeholder="Password"  autocomplete="on">
		 <div class="invalid-feedback" *ngIf="loginForm.get('password').hasError('minlength')"> A password must be at least 4 characters!</div>
		 <div class="invalid-feedback" *ngIf="loginForm.get('password').hasError('maxlength')"> A password can not be more than 16 characters!</div>

	</div>
	
	<div class="checkbox mb-3">
		<label>      
            <mat-checkbox formControlName="remember" >Remember Me</mat-checkbox>
		</label>
	</div>
	<button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Next</button>
</form>
</body>
<!-- <p>{{this.loginForm.value | json}}</p> -->
</div>