
.brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}
// header.masthead{
//     margin-bottom: 50px;
//     background-size: cover;
//     background-attachment: scroll;
//     background-color: #868e96;
//     background-attachment: scroll;
//     position: relativ;
// }

.content-wrap {
    padding-bottom:  1rem;    /* Footer height */
}

.navbar-inner{
    background: transparent;
}